/* GENERAL CSS BEGINNING */

html {
	box-sizing: border-box;
    font-size: 16px;
    color: #b9b9b9;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
  }  

body {
    background-color: #100c0c;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

/* NAVBAR BEGINNING */

#navbar {
    position: sticky; top: 0;
    background: #100c0c;
    width: 100%;
    border-bottom: 1px solid #fff;
    z-index: 1000;
}

.navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    max-width: 1500px;
    margin: 0 auto;
    padding-left: 90px;
    padding-right: 90px;
}

.navbar-logo {
    height: 15px;
    font-size: 1rem;
    letter-spacing: 0.02em;
    color: #b9b9b9;
    text-decoration: none;
    line-height: 1;
    display: inline-flex;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #b9b9b9;
    padding: 8px 12px;
}

.nav-links a:hover {
    color: #fff;
}

/* INTRO TEXT AND IMAGE BEGINNING */

#introtext-and-pic {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 120px 90px;
    max-width: 1500px;
    margin: 30px auto;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.fade-in-up {
    opacity: 0;
    animation: fadeInUp 1.5s ease forwards;
}

.left-welcometext {
    width: 60%;
    padding: 0 10px;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-welcometext h1 {
    font-size: 8.5rem;
    margin: 10px 0px;
    padding-left: 0px;
    line-height: 0.9;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.left-welcometext p {
    margin: 0 0 0.75rem 0;
}

.contact-button {
    background-color: #100c0c;
    color: #b9b9b9;
    padding: 6px 24px;
    text-decoration: none;
    font-size: 1.2rem;
    border: 2px solid #373737;
    border-radius: 10px;
    font-weight: bold;
    align-self: center;
    margin: 25px;
    transition:
        background-color 1s ease,
        color 0.5s ease,
        border 0.5s ease,
        outline .2s ease;
}

.contact-button,
.contact-button:link,
.contact-button:visited,
.contact-button:active,
.contact-button:focus {
  color: #b9b9b9;
  background-color: #100c0c;
  border: 2px solid #373737;
  outline: none;
}

.contact-button:hover,
.contact-button:focus-visible {
  background-color: #140f0f;
  color: #fff;
  border: 2px solid #100c0c;
  outline: 2px solid #fff;
}

.contact-button:hover, .contact-button:focus {
    background-color: #140f0f;
    color: #fff;
    border: 2px solid #100c0c;
    outline: 2px solid #fff;
}

.profile-image {
    width: 100%;
    max-width: 450px;
    min-width: 160px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 24px #100c0c;
    border-radius: 50%;
    overflow: visible;
}

.profile-image img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    box-shadow: 0 4px 16px 0 #191919;
    position: relative;
    z-index: 1;
    mask-image: radial-gradient(circle, #191919 1%, transparent 65%);
    -webkit-mask-image: radial-gradient(circle, #191919 1%, transparent 65%);
}

@media (max-width: 1050px) {
    #introtext-and-pic {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 24px;
    }
    .profile-image {
        order: -1;
        margin: 24px auto 0 auto;
        max-width: 350px;
    }
    .projects-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* WORK AND PROJECTS BEGINNING */

#work-and-projects {
    background-color: #0B0B0B;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#work-and-projects h1 {
    height: auto;
}

#work-and-projects p {
    margin: 0 0 0.75rem 0;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 20px 100px 20px 100px;
}

.project-card {
    background: #191919;
    border-radius: 16px;
    box-shadow: 0 4px 24px #0000001f;
    padding: 24px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: box-shadow 0.3s;
}

.hidden-project {
    display: none;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.revealed {
    animation: fadeIn 0.7s;
}

.project-card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 12px;
}

.project-card h2 {
    font-size: 1.25rem;
    margin: 0 0 10px 0;
}

.project-card p {
    font-size: 0.85rem;
    margin-bottom: 18px;
}

.Description-Tools {
    font-weight: 800;
}

.see-more {
    background: #100c0c;
    color: #b9b9b9;
    border-radius: 8px;
    padding: 6px 18px;
    text-decoration: none;
    font-size: 1rem;
    transition: 
        color 0.5s ease,
        border 0.5s ease,
        outline .2s ease;
}

.see-more:hover {
    color: #fff;
    border: 0px solid #100c0c;
    outline: 2px solid #fff;
}

.seemore-button {
    background-color: #100c0c;
    color: #b9b9b9;
    text-decoration: none;
    border: 2px solid #373737;
    border-radius: 10px;
    padding: 6px 20px;
    margin: 20px;
    align-items: center;
    transition: 
        background-color 1s ease,
        color 0.5s ease,
        border 0.5s ease,
        outline .2s ease;
}

.seemore-button:hover,
.seemore-button:focus-visible {
    background-color: #140f0f;
    color: #fff;
    border: 2px solid #100c0c;
    outline: 2px solid #fff;
}

/* ABOUT ME SECTION BEGINNING */

#about-me {
    padding: 0px 90px;
    margin: 20px 0px;
    line-height: 1.7;
}

#about-me h1 {
    text-align: center;
    padding-bottom: 0px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-me p {
    margin: 0 0 0.75rem 0;
}

.aboutme-card {
    background: #191919;
    border-radius: 16px;
    padding: 30px 80px;
    box-shadow: 0 4px 24px #0000001f;
}

/* FOOTER BEGINNING */

.social-icons {
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    font-size: 2.1rem;
    padding: 20px;
}

.social-icons a {
    color: #b9b9b9;
    transition: color 0.5s ease;
    text-decoration: none;
}

.social-icons a:hover,
.social-icons a:focus {
  color: #fff;
}

#footer {
  background-color: #0b0b0b;
  padding: 16px;
  margin-top: 32px;
  text-align: center;
  border-top: 1px solid #d7d4d4;
}

.copyright {
  margin-top: 8px;
  font-size: 0.85rem;
}

@media (max-width: 800px) {

    html {
        font-size: 12px;
    }
    body {
        padding: 0;
    }
    .navbar-inner {
        padding-left: 16px;
        padding-right: 16px;
        height: 44px;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }
    .navbar-logo {
        align-items: center;
    }
    .nav-links {
        gap: 0.5rem;
        flex-direction: column;
        width: 100%;
        gap: 0.2rem;
        margin-top: 10px;
    }
    #introtext-and-pic {
        padding: 30px 10px;
        margin: 18px 0;
        flex-direction: column;
        gap: 16px;
        text-align: center;
    }
    .left-welcometext {
        width: 100%;
        padding: 0;
        align-items: center;
    }
    .left-welcometext h1 {
        font-size: 2.8rem;
        line-height: 1.1;
    }
    .profile-image {
        max-width: 290px;
    }
    #about-me {
        padding: 0 40px;
        margin: 10px 0;
    }
    .aboutme-card {
        padding: 16px 8px;
    }
    .projects-grid {
        grid-template-columns: 1fr;
        padding: 8px 40px 8px 40px;
        gap: 1rem;
    }
    .project-card {
        padding: 16px 7px;
    }
    .social-icons {
        gap: 1.2rem;
        font-size: 1.3rem;
        padding: 10px;
    }
}