/* GENERAL CSS BEGINNING */

html {
	box-sizing: border-box;
    font-size: 16px;
    color: #fff;
}

body {
    background-color: #191919;
    font-family: sans-serif;
}

/* NAVBAR BEGINNING */

#navbar {
    background: #191919;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 12px 0px 12px 0px ;
    border-bottom: 1px solid #fff;
}

.navbar-logo {
    height: 15px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 24px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
}

.nav-links a:hover {
    color: grey;
}

/* INTRO TEXT AND IMAGE BEGINNING */

#introtext-and-pic {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 40px;
}

.left-welcometext {
    color: white;
    width: 50%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-welcometext h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.left-welcometext p {
    margin-bottom: 1.5rem;
}

.left-welcometext-name {
    font-style: oblique;
}

.contact-button {
    align-self: center;
    background-color: #191919;
    color: darkgray;
    padding: 6px 24px;
    text-decoration: none;
    font-size: 1.2rem;
    border: 1px solid #0B0B0B;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.contact-button:hover, .contact-button:focus {
    background-color: #fff;
    outline: none;
}

.profile-image {
    width: 50%;
}

.profile-image img {
    object-fit: cover;
    width: 100%;
    border-radius: 1.7%;
}

@media (max-width: 600px) {
    #introtext-and-pic {
        flex-direction: column;
        text-align: center;
    }
}

/* WORK AND PROJECTS BEGINNING */

#work-and-projects {
    color: white;
    background-color: #0B0B0B;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ABOUT ME SECTION BEGINNING */

.about-me-p {
    text-align: center;
    padding-bottom: 0px;
    color: #fff;
    background-color: #0B0B0B;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-me p {
    padding: 1px 10px 1px 10px;
}